body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    background-color: #ccc;
}
h1{
    text-align: center;
    font-weight: bold;

}
.tally-board {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 2rem;
    gap: 40px;
    
}
.party {
  display: flex;
   justify-content: space-between; 
  align-items: center;                
  color: black;
  padding: 10px 20px;
  border-radius: 8px; 
  font-weight: bold;
   width: 200px;                   
  
}                
#uda{
    background-color: rgb(236, 182, 5);
    height: 50px;
   
}
#odm{
    background-color: rgb(236, 117, 5);
   height: 50px;
}
#dcp{
    background-color: rgb(6, 255, 6);
    height: 50px;
}
#jubilee{
    background-color: rgb(255, 6, 6);
    height: 50px;
}
#winner{
    background-color: rgb(6, 6, 255);
    height: 50px;
   
}